google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client 
requests
beautifulsoup4
mysql-connector-python
langchain
langchain-core
python-dotenv
langchain-google-genai
google-generativeai
langchain-google-community
schedule